.certification-header {
  text-align: center;
}

.certification-grid {
  height: auto;
  width: 60%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;

  .certification-card {
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}