.content-page-wrapper {
  width: 100%;
  display: flex;
  height: calc(100vh - 84.8px);

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    font-size: 1em;
    width: 50%;

    .contact-bullet-points {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 21px;

      .bullet-point-group {
        display: flex;
        align-items: center;

        .icon {
          font-size: 2em;
          color: #3d3df3;
        }

        .text {
          font-size: 1.5em;
          font-weight: 900;
          margin-left: 21px;
        }
      }
    }
  }
}
