.portfolio-items-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  .portfolio-item-wrapper {
    position: relative;

    .portfolio-img-background {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 350px;
      width: 100%;
    }

    .img-text-wrapper {
      width: 100%;
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;

      .subtitle {
        transition: 1s ease-in-out;
        color: transparent;
        text-align: center;
        width: 100%;
      }
    }

    .img-text-wrapper:hover .subtitle {
      color: $teal;
      font-weight: 400;
    }

    .logo-wrapper img {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}

.image-blur {
  transition: 1s;
  filter: brightness(10%);
}
